{
	"version" : 3,
	"tenantToken" : "OqvoCLpA7pMSCvXU920nOkU5LM6UO5LTYB5l6LK-xbeN15oYwl0fJ5sx5-bqjtP6",
	"tenantId" : "system",
	"clientMode" : "PMPRO",
	"eventsFilter" : false,
	"metricsFilter" : true,
	"metricsLocked" : false,
	"metricsInterval" : 10,
	"settingsLocked" : "hidden",
	"preferences" :
	[
		{
			"autoPresence": true,
			"locked": false
		},
		{
			"callControl": true,
			"locked": false
		},
		{
			"callEnded": "Play",
			"locked": false
		},
		{
			"defaultSoftPhone": 0,
			"locked": false
		},
		{
			"etvSoftphone": 0,
			"locked": false
		},
		{
			"doffAction": "DoNothing",
			"locked": false
		},
		{
			"donAction": "DoNothing",
			"locked": false
		},
		{
			"incomingCall": "Pause",
			"locked": false
		},
		{
			"keepLinkUp": false,
			"locked": false
		},
		{
			"logLevel": "low",
			"locked": false
		},
		{
			"ringPCAndHeadset": false,
			"locked": false
		},
		{
			"disableManualUpdate": false,
			"locked": false
		},
		{
			"pollDelay": 360,
			"locked": false
		},
		{
			"smartLock": true,
			"locked": false
		}
	],
	"plugins" : 
	[
		{
			"enabled": true,
			"locked": false,
			"name": "Avaya one-X Communicator",
			"pluginId": 1000
		},
		{
			"enabled": true,
			"locked": false,
			"name": "Skype",
			"pluginId": 2200
		},
		{
			"enabled": true,
			"locked": false,
			"name": "iTunes",
			"pluginId": 2500
		},
		{
			"enabled": true,
			"locked": false,
			"name": "Cisco Jabber (and other Accessory Manager clients)",
			"pluginId": 3100
		}
	],
	"authUrl" : "https://auth.plantronicsmanager.com",
	"networkShare" : "",
	"ldapRecord" : {
		"server": "",
		"port": 0,
		"version": 3,
		"ssl": false,
		"mode": "AD"
	}
}
